/* FONTS */
$font-family-regular: 'd-din-regular';
$font-family-bold: 'd-din-bold';

/* COLORS */
$primary: #478FB3;
$secondary: #FF0017;
$cover-background: #467392;
$header-background: #F3F4F6;
$white: white;

$gray-dark: #111827;
$gray: #6B7280;
$gray-light: #E5E7EB;
$gray-divider: #D1D5DB;

/* DIMENSIONS */
$page-trim: 3mm;
$page-height: 303.0mm;
$page-width: 216.0mm;
$datasheet-height: 297.0mm;
$datasheet-width: 210.0mm;
$content-height: 269.15mm;
$icon-dimension: 7.06mm;
$std-border-width: .18mm;

$page-padding-right: 23.46mm;
$page-padding-left: 14.29mm;
$datasheet-padding-right: 11.29mm;
$datasheet-padding-left: 11.29mm;
