@media print, screen {
    @page {
        size: $datasheet-width $datasheet-height;
        margin: 0;
        padding: 0;
    }
    
    .page-datasheet {
        height: 297mm;
        width: 210mm;

        .header,
        .content,
        .footer {
            width: 100%;;
        }

        .header {
            position:relative;
            height: 36mm;
            padding: 7.94mm $datasheet-padding-right 0 $datasheet-padding-left;
    
            &-tag {
                position: absolute;
                top: 17.64mm;
                left: 0;
                width: 63.85mm;
                height: 7.06mm;
                background-color: $secondary;
                color: $white;
                text-transform: uppercase;
                font-size: 3.88mm;
                line-height: 7.06mm;
                @extend .text-bold;
                letter-spacing: .3mm;
                text-align: right;
                padding: 0 3.53mm 0 11.11mm;
            }
        }
    
        .content {
            padding: 0 $datasheet-padding-right 0 $datasheet-padding-left;
            height: auto;
    
            h1 {
                margin-top: 0;
                margin-bottom: 5.64mm;
            }
    
            p {
                margin-bottom: 12.70mm;
                font-size: 3.53mm;
                line-height: 4.59mm;
    
                &.sku {
                    @extend .text-bold;
                    font-size: 4.23mm;
                    margin-bottom: 2.82mm;
                }
            }
    
            &-cols {
                display: flex;
            }
    
            &-col {
                width: 88.72mm;
    
                .image {
                    border: .2mm solid $gray-divider;
                    padding: 1mm;
                    width: 88.72mm;
                    height: 66.5mm;
                    margin-bottom: 4.23mm;
    
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center center;
                    }
                }
    
                &:first-child {
                    margin-right: 9.88mm;
                }
            }
    
            .row-datasheet {
                display: grid;
                grid-template-columns: 50% 50%;
                border-bottom: .2mm solid $gray-divider;
                font-size: 3.7mm;
                line-height: 4.23mm;
    
                .label,
                .value {
                    padding: 1.8mm 2.3mm;
                    display: flex;
                    align-items: center;
                }
    
                .label {
                    background-color: $header-background;
                }
    
                .value {
                    @extend .text-bold;
                }
            }
        }
    
        .footer {
            height: 11.1mm;
            margin-top: auto;
            padding-left: 7.94mm;
            flex-direction: row;
    
            &-text {
                padding-bottom: 0;
                height: auto;
                width: 100%;
    
                .fotter-note1,
                .footer-note2 {
                    flex-grow: 1;
                }
    
                .footer-note1 {
                    font-size: 2.65mm;
                    line-height: 2.87mm;
                }
    
                .footer-note2 {
                    font-size: 2.12mm;
                    line-height: 2.29mm;
                    text-align: right;
                }
            }
    
            &-page-number {
                width: 11.29mm;
                height: 11.29mm;
                margin-left: 4.59mm;
                margin-right: 0;
                padding-left: 0;
                padding-bottom: 0;
            }
        }
    }
}