@media screen {
    body {
        background: #ccc;
        font-family: $font-family-regular;
    }

    .site {
        margin: 0 auto;
        width: $page-width;
        position: relative;
        padding: 1cm 0 1cm 0;
    }

    .page {
        width: $page-width;
        padding: 0;
        background: $white;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
        position: relative;
        font-family: $font-family-regular;
        margin-bottom: 10mm;
    }

    .x-grid-cell-inner {
        min-height: 23px;
    }

    .editmode {
        .type-column_3_3_3_3 {
            .col-sm-3 {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
}
