@media print, screen {

    /* EDITMODE */
    body.editmode {
        background: #CCC;

        .site {
            margin: 0 auto;
            width: $page-width;
            height: $page-height;
            position: relative;
            padding: 10mm 0 10mm 0;
        }

        .page {
            width: 216mm;
            padding: 0;
            background: $white;
            box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
            position: relative;
            min-height: $page-height !important;
            height: auto !important;
            max-height: none !important;
        }
    }
    /* EDITMODE END */

    html {
        -webkit-print-color-adjust: exact;
        font-family: 'd-din-regular';
    }

    body {
        font-kerning: normal;
        text-rendering: optimizeLegibility;
    }

    @font-face {
        font-family: 'd-din-regular';
        src: url('https://cdn.rowa-moser.at/generic/d-din-webfont.woff2') format('woff2'),
        url('https://cdn.rowa-moser.at/generic/d-din-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'd-din-bold';
        src: url('https://cdn.rowa-moser.at/generic/d-din-bold-webfont.woff2') format('woff2'),
        url('https://cdn.rowa-moser.at/generic/d-din-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'd-din-italic';
        src: url('https://cdn.rowa-moser.at/generic/d-din-italic-webfont.woff2') format('woff2'),
        url('https://cdn.rowa-moser.at/generic/d-din-italic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @page {
        counter-increment: page;
        -ro-scale-content: none;
        hyphens: auto;
        size: $page-width $page-height;
        margin: 0;
        padding: 0;
    }

    .page {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: $page-height;
        letter-spacing: 0;
        font-size: 3.53mm;
        color: $gray-dark;
        line-height: 4.59mm;
        // page-break-after: always;
    }

    .content {
        height: auto;
        padding: 8.09mm $page-padding-right 8.47mm $page-padding-left;
        overflow: hidden;
        letter-spacing: 0px;

        &.is-centered {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
        }

        &.fullscreen {
            width: $page-width;
            height: $page-height;
            padding: 10.94mm 14.29mm 14.29mm 14.29mm;
        }
    }

    .page-right {
        .content {
            padding-left: $page-padding-right;
            padding-right: $page-padding-left;

            &.fullscreen {
                padding: 10.94mm 14.29mm 14.29mm 14.29mm;
            }
        }
    }


    h1, h2, h3 {
        font-family: 'd-din-bold';
    }

    h1 {
        font-size: 10.58mm;
        line-height: 11.49mm;
        color: $primary;
        margin-top: 0;
        margin-bottom: 5.64mm;
    }

    h2 {
        font-size: 4.23mm;
        line-height: 4.6mm;
        color: $gray-dark;
        margin-top: 0;
        margin-bottom: 2.82mm;
    }

    p {
        margin-bottom: 5.64mm;
    }

    .text-bold {
        font-family: 'd-din-bold';
    }

    .text-extra-small {
        font-size: 1.76mm;
        line-height: 1.92mm;
    }

    img {
        height: auto;
        max-width: 100%;
    }

    .height_1_6 {
        height: 43.33mm;
    }

    .height_2_6 {
        height: 86.66mm;
    }

    .height_3_6 {
        height: 130mm;
    }

    .height_4_6 {
        height: 173.33mm;
    }

    .height_5_6 {
        height: 216.66mm;
    }

    .height_6_6 {
        height: 260mm;
    }

    .content-align-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .bg-stripped {
        background-image: linear-gradient(45deg, #ecf0f1 25%, #bdc3c7 25%, #bdc3c7 50%, #ecf0f1 50%, #ecf0f1 75%, #bdc3c7 75%, #bdc3c7 100%);
        background-size: 56.57px 56.57px;
    }

    /* BOTTOM MARGINS BRICKS
    .content-image,
    .text {
        margin-bottom: 7.06mm
    }*/
}

// @media print {
//     html,
//     body {
//         height: 100%;
//         width: 100%;
//         margin: 0;
//         padding: 0;
//     }
// }